- content_tag_for(:tr, resource, :class => cycle(:odd, :even)) do
  %td.time
    = short_time resource.created_at
  %td.inventory_item_type_id= h resource.try(:inventory_item_type)
  %td.amount= h resource.try(:amount)
  %td.order_id
    -if resource.is_source_order?
      =link_to "Order No. #{resource.order_id}", order_path(resource.order_id)
    -else
      ='Manual'
  %td.actions
    = link_to 'Show', resource_path(resource)
    = link_to 'Edit', edit_resource_path(resource)
    = link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete
