%h1.heading
  = "Inventory item type %s" % resource.id
  
- content_tag_for(:dl, resource) do
  %dt.label= 'Code'
  %dd.code= h resource.try(:code)
  %dt.label= 'Name'
  %dd.name= h resource.try(:name)
  %dt.label= 'Description'
  %dd.description= h resource.try(:description)
  %dt.label='Photo'
  %dd.photo= image_tag resource.photo.url(:medium)
  %dt.label= 'Price per unit'
  %dd.price_per_unit= h resource.try(:price_per_unit)
  %dt.label= 'Unit'
  %dd.unit= h resource.try(:unit)
  
%p.actions
  = link_to 'Edit', edit_resource_path(resource)
  |
  = link_to 'Index', collection_path
