- form.inputs do
  = form.input :code, :label => 'Code'
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'
  = form.input :price_per_unit, :label => 'Price per unit'
  = form.input :unit, :label => 'Unit'
  = form.input :photo, :label => 'Photo'
