%h1.heading
  = "Unit conversions"
  
%p.actions
  = link_to 'New Unit conversion', new_resource_path
  
%table.data_list
  %thead.header
    %tr
      %th.unit1= 'Unit1'
      %th.unit2= 'Unit2'
      %th.ratio= 'Ratio'
      %th.actions= 'Actions'
  %tbody.items.resources
    - collection.each do |resource|
      = render 'item', :resource => resource
      
= will_paginate(collection)
