%h1.heading
  = "Measurement info %s" % resource.id
  
- content_tag_for(:dl, resource) do
  %dt.label= 'Name'
  %dd.name= h resource.try(:name)
  %dt.label= 'Description'
  %dd.description= h resource.try(:description)
  
%p.actions
  = link_to 'Edit', edit_resource_path(resource)
  |
  = link_to 'Index', collection_path
  |
  = link_to 'Create Another', new_resource_path
