%h1.heading
  = "Component inventories"
  
%p.actions
  = link_to 'New Component inventory', new_resource_path
  
%table
  %thead.header
    %tr
      %th.component_id= 'Component'
      %th.inventory_item_type_id= 'Inventory item type'
      %th.amount= 'Amount'
      %th.actions= 'Actions'
  %tbody.items.resources
    - collection.each do |resource|
      = render 'item', :resource => resource
      
= will_paginate(collection)
